<!-- login / register -->
<div>
    <div class="message">
        {{message}}
    </div>

    <div *ngIf="loggedIn === false">
        <table class="credentials">
            <tr>
                <td>Name</td>
                <td><input type="text" size="20" [(ngModel)]="login_name"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" size="20" [(ngModel)]="login_password"/></td>
            </tr>
            <tr>
                <td colspan="2" class="centre"><button (click)="login($event)">Login</button></td>
            </tr>
        </table>

        <table class="credentials">
            <tr>
                <td>Name</td>
                <td><input type="text" size="20" [(ngModel)]="name"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" size="20" [(ngModel)]="email"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" size="20" [(ngModel)]="password"/></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" size="20" [(ngModel)]="password2"/></td>
            </tr>
            <tr>
                <td colspan="2" class="centre"><button (click)="register($event)">Register</button></td>
            </tr>
        </table>
    </div>

    <div *ngIf="loggedIn === true">
        <h3>Greetings {{ name }}</h3>
        <p>Email - {{ email }}</p> 
         <h3>Order History</h3>
         <table>
            <tr>
                <th>Order ID</th>
                <th>Items</th>
                <th>Total</th>
            </tr>
            <button (click)="logout();">Logout</button>
            <tr *ngFor="let hist of history.history">
                <td>{{hist.orderid}}</td>
                <td>
                    <ul>
                        <li>{{hist.cart.items}}</li>
                    </ul>
                </td>
                <td>
                    &euro; {{hist.cart.total}}
                </td>
            </tr>
        </table>
    </div> 
</div>